.splash-bg-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 30vw;
  background-color: #f00;

  object-fit: contain;
  animation: slideshow 10s linear infinite;
  transition-duration: 3s;
}

.splash-container {
  width: 65vw;
  margin-left: 50px;

  // animation: slideshow 10s linear infinite;
  // transition-duration: 3s;
}
@keyframes slideshow {
  0% {
    background-image: image-url("sliderone.jpg");
  }

  25% {
    background-image: url("https://i.pinimg.com/236x/3a/d5/49/3ad5498dbe82d481f2695dd9921969c1--valentines-day-quotes-valentines-day.jpg");
  }

  40% {
    background-image: image-url("sliderone.jpg");
  }

  60% {
    background-image: url("https://i.pinimg.com/236x/3a/d5/49/3ad5498dbe82d481f2695dd9921969c1--valentines-day-quotes-valentines-day.jpg");
  }

  80% {
    background-image: url("https://i.pinimg.com/236x/3a/d5/49/3ad5498dbe82d481f2695dd9921969c1--valentines-day-quotes-valentines-day.jpg");
  }

  100% {
    background-image: url(asset_path("splash-image1.jpg"));
  }
}

.login-signup {
  padding-left: 20px;
  font-family: GT America, sans-serif;
  :hover {
    cursor: pointer;
    box-shadow: 2px 2px orchid;
  }
}

.pairing-deserves {
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  text-shadow: -10px 10px 0px #000;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.bob-ross {
  margin-top: 30px;
  padding-right: 70px;
  font-size: 18px;
}

.formy-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.what-is-you {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.seeking {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;

  margin-right: 15px;
}

.options {
  // float: left;
  font-size: 20px;
  background-color: #fff;
  // padding: 10px;
  margin-right: 10px;
}

.continue-button {
  background-color: #dcdcdc;
  padding: 15px;
  border-radius: 8px;
  color: orchid;
  border: 1px solid black;
}

.nick {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 40px;
}

.first {
  margin-top: 10px;
  margin-right: 20px;
}
.second {
  :hover {
    cursor: pointer;
    box-shadow: 10px 10px black;
    text-decoration: underline orchid;
  }
  :focus {
    outline: 0px;
  }
  background: url(asset_path("expand-arrow.png")) no-repeat white;
  background-size: 15px;
  background-position: 90% 50%;
  width: 160px;
  height: 50px;
  overflow: hidden;
  border-radius: 3px;
  margin-right: 10px;

  select {
    background: transparent;
    width: 268px;
    padding: 5px;
    font-size: 19px;
    line-height: 1;
    border: 0;
    height: 50px;
    -webkit-appearance: none;
    text-indent: 10px;
  }
}

.fourth {
  :hover {
    cursor: pointer;
    box-shadow: 10px 10px black;
    text-decoration: underline orchid;
  }
  :focus {
    outline: 0px;
  }
  background: url(asset_path("expand-arrow.png")) no-repeat white;
  background-size: 15px;
  background-position: 90% 50%;
  width: 160px;
  height: 50px;
  overflow: hidden;
  border-radius: 3px;
  margin-right: 10px;

  select {
    background: transparent;
    width: 268px;
    padding: 5px;
    font-size: 19px;
    line-height: 1;
    border: 0;
    height: 50px;
    -webkit-appearance: none;
    text-indent: 10px;
  }
}

.third {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.toppy-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px;
}

.continue {
  padding: 10px;
  padding-left: 40px;
  margin-right: 40px;
  margin-left: 100px;
  padding-right: 40px;
  position: relative;
  background-color: orchid;
  right: 60px;
  border: 1px solid rgba(228, 237, 253, 0.55);
  text-decoration: none;
  color: white;
  font-size: 15px;
  border-radius: 4px;
}

// body {
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;
//   transition: 0.5s ease;
//   animation: carrousel 8s linear infinite;
//
//   @keyframes carrousel {
//     0% {
//       background-image: url("https://www.petmd.com/sites/default/files/petmd-cat-happy-10.jpg");
//     }
//     50% {
//       background-image: url("https://cdn.filestackcontent.com/qwNWhwiaTVa5bPQEJPfU");
//     }
//     100% {
//       background-image: imageurl("sliderone.jpg");
//     }
//   }
// }
